<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>
    <p>Instruction of </p>
    <form method="POST" action="/piglatinize">
      <p></p>
    </form>
  </body>
</html>
