<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>
    <p>Here is your phrase!</p>
    <p><%= @new_phrase %></p>
  </body>
</html>
